{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>欢迎你, 超级管理员{{ current_user.username }}</h1>
</div>
    <div>
        <a class="btn btn-default" href="{{ url_for('admin.agent_manage') }}">用户审核</a>
        <a class="btn btn-default" href="{{ url_for('admin.agent_list') }}">用户列表</a>
        <a class="btn btn-default" href="{{ url_for('admin.insert_portals') }}">批量导入po</a>
        <a class="btn btn-danger" href="{{ url_for('admin.download_csv_po_list') }}">导出po列表</a>
    </div>
{% endblock %}