<div class="container-fluid">
	<div class="row-fluid">
		<div class="table-responsive">
			<table class="table table-hover table-condensed table-striped">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Name</th>
						<th>Area</th>
						<th>Intel Link</th>
                        <th>你的key数</th>
					</tr>
				</thead>
				<tbody>
                    {% for portal in portals %}
					<tr>
						<td>{{ portal.id }}</td>
						<td>
                            <a href="{{ url_for('portal.portal_info', po_id=portal.id) }}">
                                {{ portal.name }}
                            </a>
                        </td>
						<td>{{ portal.area }}</td>
						<td>
                            {% if portal.link %}
                                <a href="{{ portal.link }}" target="_blank">intel</a>
                            {% else %}
                                n/a
                            {% endif %}
                        </td>
                        <td>
                            <input type="number" value="{{ current_user.having_key(portal.id) }}" class="count" about="{{ portal.id }}">
                            <button class="change-count" about="{{ portal.id }}" >提交</button>
                        </td>
					</tr>
                    {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>