{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                {% if current_user.can(Permission.ADD_PORTAL) %}
                <li><a href="{{ url_for('portal.add', _external=True) }}">提交Portal</a></li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ current_user.gravatar(size=18) }}">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message | safe}}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
    <script type="text/javascript">
    /*var mbox = new extendBoot.Mesbox({
    title:"模拟alert",
    type:"alert",
    getContent:"模拟alert-单纯信息展示，点击确认，则关闭该alert",
    applyName:"确定"
    });*/
    $(function(){
    $('.change-count').click(function(){
        var csrf_token = "{{ csrf_token() }}";
        var changeBtn = $(this);
        var po_id = changeBtn.attr('about');
        var inputCount = $('.count[about="'+po_id+'"]');
        var data = {
            'po_id': changeBtn.attr('about'),
            'count': inputCount.prop('value')
        };
        //changeBtn.text('点了');
        //inputCount.val('999');
        //alert('count'+inputCount.prop('value'));
        if (inputCount.prop('value') < 0){
            alert('key数量不能小于0~');
        }else {
            $.ajax({
                beforeSend: function (xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token);
                    }
                },
                type: 'POST',
                url: '{{ url_for('portal.change_count') }}',
                data: data,  // 这个data是要post的数据
                success: function (data) {  // 这个data是接收到的响应的实体
                    if (data == 'ok') {
                        alert('数量修改成功');  // 这里可以用模态框，会好看点~~懒得弄了
                        // mbox.show()
                    } else if (data.status == 302) {
                        location.href = data.location;
                    }
                }
            });
        }
    });
    });
</script>
{% endblock %}
