{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block title %}{{ portals[0].name }} - Portal 信息{% endblock %}

{% block page_content %}
<div>
    {% include "_portals.html" %}
</div>
{% if current_user.can(Permission.MODIFY_PORTAL) or portals[0].submitter_id == current_user.id %}
<button><a href="{{ url_for('portal.modify', po_id=portals[0].id) }}">修改Portal信息</a></button>
{% endif %}
{% if current_user.can(Permission.VIEW_AGENTS) %}
<div>
    {% include "_keys.html" %}
</div>
{% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'portal.portal_info', po_id=portals[0].id) }}
    </div>
{% endif %}
{% endif %}
{% endblock %}